<div class="fixed">
	<a href="javascript:;" class="goTop"></a>
	<a href="http://www.okbuy.com/feedback" class="feed" target="_blank"></a>
</div>

<div class="w1200">
	<div class="top">
		<div class="gzh">
			<div class="code">
				<img src="/images/code_client.png"/>
				<p>好乐买手机客户端</p>
			</div>
			<div class="code">
				<img src="/images/code_public.jpg"/>
				<p>好乐买微信公众号</p>
			</div>
		</div>
		<div class="links">
			<dl>
				<dt>购物指南</dt>
				<dd><a href="#">购物流程</a></dd>
				<dd><a href="#">订购方式</a></dd>
				<dd><a href="#">常见问题</a></dd>
			</dl>
			<dl>
				<dt>配送方式</dt>
				<dd><a href="#">快递配送</a></dd>
				<dd><a href="#">配送时间</a></dd>
			</dl>
			<dl>
				<dt>支付方式</dt>
				<dd><a href="#">支付方式</a></dd>
				<dd><a href="#">代金券</a></dd>
			</dl>
			<dl>
				<dt>售后服务</dt>
				<dd><a href="#">退换货政策</a></dd>
				<dd><a href="#">退款说明</a></dd>
				<dd><a href="#">联系客服</a></dd>
			</dl>
		</div>
		
	</div>
	
	<div class="ok_logo">
		<a href="#"><img src="/images/okbuyf-01.png"/></a>
		<a href="#"><img src="/images/okbuyf-02.png"/></a>
		<a href="#"><img src="/images/okbuyf-03.png"/></a>
		<a href="#"><img src="/images/okbuyf-04.jpg"/></a>
	</div>
	
	<div class="about">
		<a href="#">公司介绍</a>
		<a href="#">加入我们</a>
		<a href="#">联系我们</a>
		<a href="#">友情链接</a>
	</div>
</div>

<div class="bottom">
		天津好乐买信息技术有限公司    Copyright © 2007-2018 OkBuy.com All Rights Reserved 
		<a href="#" target="_blank">津ICP备16005872号-1</a>
		京公网安备110105006859   客服电话：400-8610-400 
</div>