<div class="ad">
	<a href="javascript:;"></a>
</div>
<div class="nav">
	<div class="info">
		<div class="unlogin">
			<a href="/html/login.html">登录</a>
			<span> | </span>
			<a href="/html/register.html">注册</a>
		</div>
		<div class="login" style="display: none;">
			<a href="javascript:;" class="user"></a>
			<span> , </span>
			<a href="javascript:;" id="exit">退出</a>
		</div>
		<ul>
			<li>
				<a href="javascript:;">我的好乐买<span></span></a>
				<a href="javascript:;">手机好乐买<span></span></a>
				<a href="javascript:;">关注好乐买<span></span></a>
				<a href="javascript:;">客户服务<span></span></a>
				<a href="javascript:;" style="border: 0;">公告<span></span></a>
			</li>
		</ul>
	</div>
</div>
<div class="logo">
	<div class="w1200">
		<a href="/" class="_logo">
			<img src="/images/logo.png"/>
		</a>
		
		<form>
			<input type="text" value="秋冬新品推荐" class="txt"/>
			<input type="button" class="search"/>
		</form>
		
		<span class="hotWords">
			<a href="#">卫衣</a>
			<a href="#">卡骆驰</a>
			<a href="#">斯凯奇</a>
			<a href="#">百图</a>
			<a href="#">Adidas</a>
			<a href="#">Zara入驻</a>
			<a href="#">BOY LONDON新品上线！</a>
		</span>
		
		<a href="/html/cart.html" class="cart">
			<span>去购物车结算 </span>
		</a>
	</div>
</div>
<div class="nnav">
	<div class="w1200">
		<ul class="pageNav">
			<li class="index"><a href="/">首页</a></li>
			<li><a href="#">限时特卖</a></li>
			<li class="sportPage"><a href="/html/sport.html">运动生活</a></li>
			<li><a href="#">休闲服饰</a></li>
			<li><a href="#">男女名鞋</a></li>
			<li><a href="#">全球购</a></li>
			<li><a href="#">家居包配</a></li>
		</ul>
		
		<div class="li_down">
			<h6>常用</h6>
			<div class="catewarp">
				<p>
					<a href="#">查看全部</a>
					<a href="#">300款上新</a>
					<a href="#">千元尖货</a>
					<a href="#">清仓</a>
				</p>
			</div>
			<div class="catewarp">
				<h3><a href="#">潮牌</a></h3>
				<p>
					<a href="#">ASSC</a>
					<a href="#">Boy London</a>
					<a href="#">Champion</a>
					<a href="#">Palladium</a>
				</p>
			</div>
			<div class="catewarp">
				<h3><a href="#">服饰</a></h3>
				<p>
					<a href="#">T恤</a>
					<a href="#">打底衫</a>
					<a href="#">POLO</a>
					<a href="#">衬衫</a>
					<a href="#">卫衣帽衫</a>
					<a href="#">毛衫</a>
					<a href="#">夹克</a>
					<a href="#">裤装</a>
					<a href="#">内衣</a>
					<a href="#">健身</a>
					<a href="#">棒球帽</a>
					<a href="#">腰带</a>
					<a href="#">手表</a>
				</p>
			</div>
			<div class="catewarp">
				<h3><a href="#">鞋靴</a></h3>
				<p>
					<a href="#">Air Jordan</a>
					<a href="#">Nike</a>
					<a href="#">小白鞋</a>
					<a href="#">贝壳头</a>
					<a href="#">Yeezy</a>
					<a href="#">TUBULAR</a>
					<a href="#">AF1</a>
					<a href="#">潮鞋</a>
					<a href="#">帆布鞋</a>
					<a href="#">板鞋</a>
					<a href="#">高帮鞋</a>
					<a href="#">澡堂拖</a>
					<a href="#">休闲鞋</a>
					<a href="#">库里</a>
					<a href="#">童鞋</a>
				</p>
			</div>
		</div>
	</div>
</div>